

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="mr-auto">

              <h1 class="mb-0">{{ .Site.Params.firstName }}
                <span class="text-primary">{{ .Site.Params.lastName }}</span>
              </h1>
              <div class="subheading mb-5">{{ .Site.Params.address }} ·
                <a href="mailto:{{ substr .Site.Params.email 0 5}}-remove-{{ substr .Site.Params.email 5 }}">{{ substr .Site.Params.email 0 5}}<span style="display:none">-remove-</span>{{ substr .Site.Params.email 5 }}</a>
              </div>
<!-- Add your blurb here -->
<p class="mb-5">
  DevOps Engineer with 10+ years of experience building, automating, and managing cloud infrastructure on AWS, 20+ years of experience in IT.
<br/><br/>
  Skilled in IaaC, CI/CD, and container orchestration using Kubernetes. 
<br/><br/>
  Proven track record of improving efficiency and scalability for e-commerce and enterprise applications.
<br/><br/>  
  I have worked with a variety of technologies and have been consistently delivering high-quality solutions.
</p>
<!-- Your certification badges -->              
<a href="https://www.credly.com/badges/f3bc2b8b-63d6-4312-b567-e965b833a57c" target="_blank" ><img src="img/aws-certified-security-specialty.png" alt="AWS Certified Security Specialty - Advanced" width="140" height="140" title="AWS Certified Solutions Architect - Associate" class="CToWUd"></a>
<a href="https://www.credly.com/badges/04f12298-794e-4636-9949-436db55b5ed6/public_url" target="_blank" ><img src="img/AWS-SolArchitect-Associate-2020.png" alt="AWS Certified Solutions Architect - Associate" width="140" height="140" title="AWS Certified Solutions Architect - Associate" class="CToWUd"></a>
<a href="https://www.credly.com/badges/238df6f1-a542-44fb-afb2-1dc9eada4fde/public_url" target="_blank" ><img   src="img/AWS-Developer-Associate-2020.png" width="140" height="140" alt="AWS Certified Developer - Associate" title="AWS Certified Developer - Associate" class="CToWUd"></a>
<a href="https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/f5af3d50-ba3a-4009-8690-d987f0af4770-miroslav-adamy-78337c4a-1744-4bab-b722-0f026551a2e4-certificate.pdf" target="_blank" ><img   src="img/CKA-2024.png" width="160" height="140" alt="Certified Kubernetes Administrator" title="Certified Kubernetes Administrator" class="CToWUd"></a>

<p/>
            </div>

            {{ if .Site.Params.showQr }}
              {{ partial "contact-qr" . }}
            {{ end }}
        </div>
        <div>
          {{ .Content }}

          <ul class="list-inline list-social-icons mb-0">
            {{ range .Site.Params.handles }}
                <li class="list-inline-item">
                  <a href="{{ .link }}" data-toggle="tooltip" title="{{ .name }}" data-offset="0 10">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fab {{ if .icon}}fa-{{ .icon }}{{ else }}fa-{{ lower .name }}{{ end }} fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </section>
